@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// COLOR WHITE
$color-white-000: #ffffff;
$color-white-100: #fafbfd;
$color-white-200: #9d9d9c;

// COLOR ORANGE
$color-yellow-000: #fe9616;

// COLOR GREEN
$color-green-000: #40cb40;

// COLOR BLUE
$color-blue-000: #1661a9;

// COLOR GRAY
$color-gray-000: #fcfcfd;
$color-gray-050: #f9fafb;
$color-gray-100: #f2f4f7;
$color-gray-200: #e4e7ec;
$color-gray-300: #d0d5dd;
$color-gray-400: #98a2b3;
$color-gray-500: #667085;
$color-gray-600: #475467;
$color-gray-700: #344054;
$color-gray-800: #1d2939;
$color-gray-900: #101828;

// COLOR BLACK
$color-black-900: #000000;