.text-critical {
    color: #FF3B30; 
  }
  
  .text-warning {
    color: #FFCC00;
  }
  
  .text-info {
    color: #34C759; 
  }
  
  .text-debug {
    color: #6C757D; 
  }
  
  .text-error {
    color: #ff8000;
  }
  
  